# Python
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.ruff_cache/

.env

# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

temp

chroma_db
Journal/Jeff/gemini api
Square Head Data/Government/Surface Water Quality Discreet/abs240-20260106_165051/*.csv
